# Ambiente virtuale
venv/

# File di database
*.db
*.db-journal

# Cache di Python
__pycache__/
*.pyc

# File specifici del sistema operativo
.DS_Store

# File di configurazione delle strategie ottimali (può essere rigenerato)
optimal_strategies.json